---
interface Props { stagger?: number }
const { stagger } = Astro.props;
---

<p class:list={[stagger && `stagger-${stagger}`, "font-serif text-[28px] leading-snug text-neutral-200"]}>
  <slot />
</p>
